.task {
  background-color: lightblue;
  width: 90%;
  margin: 0 auto;
  max-width: 600px;
}
.task_container {
  margin-top: 12px;
  display: flex;
  background-color: white;
  padding: 8px 12px;
  border-radius: 6px;
  align-items: center;
}
.task_container p {
  flex: 1;
  font-size: 18px;
  font-weight: 500;
}
.task_container button {
  font-size: 16px;
  color: white;
  font-weight: 600;
  padding: 4px 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(153, 153, 153);
}
.task_container button:hover {
  background-color: rgba(255, 45, 45, 0.972);
}
